<h1>Google Books Search</h1>

<%= form_for @results do |f| %>
    <%= f.label :title %><br>
    <br>
    <%= f.label :author %><br>
    <br>
    <%= f.label :company %><br>
    <br>
    <%= f.submit %>
<% end %>